<form #form="ngForm" (ngSubmit)="submitForm(form)"> <!--Template ref #form-->

  <h2>Nome completo</h2>
  <label for="nome">Nome:
    <input type="text" name="nome" #nome="ngModel" [ngModel]="nome.value" required>
    <span *ngIf="!nome.valid && (nome.dirty && nome.touched)" >Invalid</span>
  </label>
  <br>
  <br>

  {{ nome.valid }}
  {{ nome.dirty }}
  {{ nome.touched }}
  <!-- {{ form.valid }} -->

  <br>
  <br>
  <h2>Selecione seu sexo</h2>
  <label for="sexo">Masculino
    <input type="radio" name="sexo" value="Masculino" ngModel>
  </label>

  <br>
  <br>

  <label for="sexo">Feminino
    <input type="radio" name="sexo" value="Feminino" ngModel>
  </label>

  <br>
  <br>

  <label for="sexo">Outros
    <input type="radio" name="sexo" value="Outros" ngModel>
  </label>

  <br>
  <br>
  <h2>Quais tecnologias você tem conhecimento?</h2>
  <label for="sexo">Angular
    <input type="checkbox" name="angular" ngModel>
  </label>

  <br>
  <br>

  <label for="sexo">Vue
    <input type="checkbox" name="vue" ngModel>
  </label>

  <br>
  <br>
  <label for="sexo">React
    <input type="checkbox" name="react" ngModel>
  </label>

  <br>
  <br>

  <select name="comidas" ngModel>
    <option value="">Selecione um alimento</option>
    <option [ngValue]="item" *ngFor="let item of listComidas">
      {{ item.comida }} - {{ item.preco }}
    </option>
  </select>

  <br>
  <br>

  <button [disabled]="form.invalid">Enviar Dados</button>
</form>

{{ form.value | json }}
