<!-- <app-title></app-title>
<app-data-biding></app-data-biding>
<app-diretivas-estruturais></app-diretivas-estruturais>
<app-diretivas-atributos>
  <h1>Aula de diretivas Atributo</h1>
  <hr>
</app-diretivas-atributos>
<app-new-component></app-new-component>
<app-input [contador]="addValue"></app-input>
<button (click)="add()">Add</button>
<br>
<ng-template [ngIf]="getDados">
  <h1>{{ getDados.nome }}</h1>
  <h2>{{ getDados.idade }}</h2>
</ng-template>
<app-output (enviarDados)="setDados($event)"></app-output>

<app-food-add></app-food-add>
<app-food-list></app-food-list> -->
<app-forms></app-forms>
<router-outlet></router-outlet>
